{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
    用户注册
{% endblock title %}

{% block page %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <div style="max-width: 400px;text-align: center;margin: 0 auto">
        <h1>计算机协会技术部</h1>
        <h1>2016秋季招新</h1>
        <br>
        {% crispy form %}
    </div>
{% endblock page %}

{% block scripts %}
    <script src="{% static 'site/js/captcha_refresh.js' %}"></script>
    <script src="{% static 'site/js/preclude_redundant_submit.js' %}"></script>
{% endblock scripts %}



