{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    用户注册
{% endblock title %}

{% block page %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <div style="max-width: 400px;text-align: center;margin: 0 auto">
        <h1>计算机协会技术部</h1>
        <h1>2016秋季招新</h1>
        <br>
        {% crispy form %}
    </div>

    <script type="text/javascript">
        function document_onLoad() {
            var captcha_img = document.getElementsByClassName("captcha")[0];
            captcha_img.onclick = refreshCaptcha;
            captcha_img.style.cursor="pointer"
        }

        function refreshCaptcha() {
            var xmlHttp = new XMLHttpRequest();
            if (xmlHttp == null) {
                console.log("xmlHttp is null. What's wrong?");
                return;
            }
            xmlHttp.open("GET", "/captcha/refresh/");
            xmlHttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            xmlHttp.send(null);
            xmlHttp.onreadystatechange = function() {
                if ((xmlHttp.readyState == 4) && (xmlHttp.status == 200)) {
                    var respJson = eval('(' + xmlHttp.responseText + ')');
                    var captcha_img = document.getElementsByClassName("captcha")[0];
                    var captcha_input_id_0 = document.getElementById("id_captcha_0");
                    captcha_img.src = respJson['image_url'];
                    captcha_input_id_0.value = respJson['key'];
                }
            }
        }

        window.onload = document_onLoad;
    </script>
{% endblock page %}



