<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HUSTCA技术部招新入口">
    <meta name="author" content="Silhouette">
    <link rel="shortcut icon" href="{% static 'site/icon/favicon.jpg' %}">

    <title>{% block title %}计算机协会-技术部{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this site -->
    {% block styles %}
        <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    {% endblock %}

    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% block container %}
    <div class="container">
        <div class="starter-template">
            {% block page %}
                <h1>this is the main contain</h1>
            {% endblock page %}
        </div>
    </div>
{% endblock container %}

<!-- Site footer -->
{% block footer %}
    <!-- Some social button for contact will do -->
    <a name="contact"></a>
    <div class="container">
        <div class="footer">
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; HUSTCA {% now 'Y' %},HuaZhong University of Science and Technology | All rights reserved.</p>
                </div>
                <div class="col-lg-6 text-right">
                    与我们联系
                    <a href="http://weibo.com/hustca"><i class="fa fa-facebook"></i> 新浪微博</a> or
                    <a href="{% static 'site/img/wechat.png' %}"><i class="fa fa-twitter"></i> 官方微信</a>
                </div>
            </div>
        </div>
    </div>
{% endblock footer %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>